.App {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 5px;
  font-size: 1.2em;
  width: 200px;
}

form button[type="submit"] {
  padding: 5px 10px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li span {
  margin-left: 10px;
}

li button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
}

li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}
